body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  background: #fff;
  color: #000;
  overflow: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}
.canvas{
  width: 40%;
  height: 40%;
}

.container{
  width: 70%;
}
 h1{
  font-size: 46px;
  text-align: center;
 }